*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
    height: 100%;
    width: 100%;
    background-image: url(wp.jpg);
    background-size: cover;
    margin:0;
    min-width: 1200px;
}
.box{
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
    

}

p{


    background-color:rgba(255, 255, 255, 0.6);
    margin: 0px;
    padding: 0px;
    
    
}

header{
    width: auto;
    margin:50px 350px;
    text-align: center;
     background-color:rgba(5, 0, 0, 0.7);
    border-radius: 25px;
}

.team-member{
    
    

    height: 20%;
    width:30%;
	text-align: center;
    margin: 0 auto;
    margin-bottom: 30%;

    
}

.fixed-size{
  width:450px;
  height:300px;
margin: 0 auto;
}
.text{
    height: 35px;
  margin: 10px;
  text-align:center;
  background-color:rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    
    
   
}


.parrafos{

	text-align: center;
    margin: 0 auto;
    font-size: 20px;
}
    
    img
    {
        
        margin: 0 auto;
    }    


    

header h1{
    
    width:auto;
   color: aliceblue;
    font-size: 100;
    margin: 0 auto;

}

section{
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width:80%;
    height:auto;
    background-color:rgba(5, 0, 0, 0.7);;
    margin-bottom: 5%;
}




