*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
    height: 100%;
    width: 100%;
    background-image: url(wp.jpg);
    background-size: cover;
    margin:0;
}
.box{
	width: 100%;
	margin:auto;
	margin-top: 20px;
}

header{
    width: auto;
    margin:50px 350px;
    text-align: center;
}

.team-member{

    height: 20%;
    width:30%;
	margin-bottom: 10px;
	text-align: center;
    margin: 0 auto;
    margin-bottom: 10%;
}

.fixed-size{
  width:100%;
  height:100%;
}
.text{
  margin: 0;
  text-align:center;
}

header a{
    
    width:auto;
   color: aliceblue;
    font-size: 100px;
    margin: auto;

}

section{
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width:80%;
    height:auto;
    background-color: aqua;
    margin-bottom: 2%;
}




